.bio {
    background-color: white;
    float: right;
    padding: 2rem;
    display: flex; flex-direction: column;
}

.bio-section{
    margin: 2rem;
    display: flex; flex-direction: row; 
    font-size: 1em;
    box-shadow: 5px 5px 10px rgb(169, 171, 174);
    background-color: rgb(68, 68, 68);
}

.title {
    text-align: center;
}

.commitees-section {
    background-color: white;
    color: black;
    width: 60%;
    padding: 2rem;
    margin: 1rem 1rem 1rem 2rem;
    line-height: 200%;
    box-shadow: 5px 5px 10px rgb(169, 171, 174);
    height: 11.3rem;
}

.committee-row {
   
    display: flex; flex-direction: row}

.legislation-section {
display: flex; flex-direction: row;
padding: 2rem;
margin: 1rem 2rem 1rem 2rem;
line-height: 200%;
background-color: white;
box-shadow: 5px 5px 10px rgb(169, 171, 174)
} 
/* added line height for readablilty  */

.links {padding: 0 2rem 0 4rem;
}


footer {
    background-color: white;
    color: black;
    height: 6rem;
    display: flex; flex-direction: row; align-items: flex-end;
    padding: .5rem;
    display: flex; flex-direction: row; justify-content: left;
}

body {
    background-color: #f2f2f2;
    
}

h1 {
    font-size: 3rem;
}

h2 {text-align: center;}



.head {
    background-color: blue;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
}

button {
    background-color: orange;
    position: relative;
    width: 10rem;
    height: 2rem;
    margin: 0;
    top: 2%;
    align-self: center;
}

.comm-row {
    display: flex; flex-direction: row;
}

#marsha-2 {
    width: 23rem;
    margin: 1rem 2rem 1rem 0;
}

body {
    font-family: 'Hind Madurai', sans-serif;
}

h1 {font-family: 'Source Serif Pro', serif;}